<!--<footer class="footer">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <nav class="footer-nav">-->
<!--                <ul>-->
<!--                    <li><a href="https://www.creative-tim.com">Creative B&K</a></li>-->
<!--                    <li><a href="http://blog.creative-tim.com"></a></li>-->
<!--                    <li><a href="https://www.creative-tim.com/license">Licenses</a></li>-->
<!--                </ul>-->
<!--            </nav>-->
<!--            <div class="credits ml-auto">-->
<!--                <span class="copyright">-->
<!--                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i>By Badr & Khalil-->
<!--                </span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->



<footer class="footer-02">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-lg-6">
<!--                <div class="subscribe mb-5">-->
<!--                    <form action="#" class="subscribe-form">-->
<!--                        <div class="form-group d-flex">-->
<!--                            <input type="text" class="form-control rounded-left" placeholder="Enter email address">-->
<!--                            <input type="submit" value="Subscribe" class="form-control submit px-3">-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
            </div>
        </div>
        <div class="row" style="text-align: center">
            <div class="col-md-4 col-lg-5">
                <div class="row">
                    <div class="col-md-12 col-lg-12 mb-md-1 mb-4">
                        <h2 class="footer-heading"><a href="#" class="logo" >Abonnez vous à notre Newsletter</a></h2>
                        <p>Restez au courant de nos dernières formations, nos congrès et séminaires, des études à l'étranger et autres nouvelles. Vous serez le premier informé à chaque fois que nous ferons des mises à jour.</p><br>

                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control rounded-left" placeholder="Entrer votre adresse email">
                                    <input type="submit" value="Subscribe" class="form-control submit px-3">
                                </div>
                            </form>

<!--                        <a href="#">read more <span class="ion-ios-arrow-round-forward"></span></a>-->
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-7">
                <div class="row">
                    <div class="col-md-6 mb-md-0 mb-4 border-left">
                        <h2 class="footer-heading">Pour aller vite</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1 d-block">Commencez ici</a></li>
                            <li><a href="#" class="py-1 d-block">Nos Produits</a></li>
                            <li><a href="#" class="py-1 d-block">Nos Formations</a></li>
                            <li><a href="#" class="py-1 d-block">Nos Evènements</a></li>
                            <li><a href="#" class="py-1 d-block">Contactez-nous</a></li>
                        </ul>
                    </div>
<!--                    <div class="col-md-3 mb-md-0 mb-4 border-left">-->
<!--                        <h2 class="footer-heading">About</h2>-->
<!--                        <ul class="list-unstyled">-->
<!--                            <li><a href="#" class="py-1 d-block">Staff</a></li>-->
<!--                            <li><a href="#" class="py-1 d-block">Team</a></li>-->
<!--                            <li><a href="#" class="py-1 d-block">Careers</a></li>-->
<!--                            <li><a href="#" class="py-1 d-block">Blog</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="col-md-3 mb-md-0 mb-4 border-left">-->
<!--                        <h2 class="footer-heading">Resources</h2>-->
<!--                        <ul class="list-unstyled">-->
<!--                            <li><a href="#" class="py-1 d-block">Contactez nous</a></li>-->
<!--                            <li><a href="#" class="py-1 d-block">Adresse</a></li>-->
<!--                            <li><a href="#" class="py-1 d-block">Nos formations</a></li>-->
<!--                            <li><a href="#" class="py-1 d-block">Etude a l'étranger</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
                    <div class="col-md-6 mb-md-0 mb-4 border-left">
                        <h2 class="footer-heading">Social</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1 d-block">whatsapp</a></li>
                            <li><a href="#" class="py-1 d-block">Twitter</a></li>
                            <li><a href="#" class="py-1 d-block">Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row partner-wrap mt-5">
            <div class="col-md-12">
                <div class="row align-items-center">
<!--                    <div class="col">-->
<!--                        <h3 class="mb-0">Our Partner:</h3>-->
<!--                    </div>-->
<!--                    <div class="col-md-9">-->
<!--                        <p class="partner-name mb-0">-->
<!--                            <a href="#"><span class="ion-logo-ionic mr-2"></span>Company 01</a>-->
<!--                            <a href="#"><span class="ion-logo-ionic mr-2"></span>Company 02</a>-->
<!--                            <a href="#"><span class="ion-logo-ionic mr-2"></span>Company 03</a>-->
<!--                            <a href="#"><span class="ion-logo-ionic mr-2"></span>Company 04</a>-->
<!--                            <a href="#"><span class="ion-logo-ionic mr-2"></span>Company 05</a>-->
<!--                            <a href="#"><span class="ion-logo-ionic mr-2"></span>Company 06</a>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                    <div class="col text-md-right">-->
<!--                        <p class="mb-0"><a href="#" class="btn-custom">See All <span class="ion-ios-arrow-round-forward"></span></a></p>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 col-lg-8">

                <p class="copyright">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by B&K enterprises
                    </p>
            </div>
<!--            <div class="col-md-6 col-lg-4 text-md-right">-->
<!--                <p class="mb-0 list-unstyled">-->
<!--                    <a class="mr-md-3" href="#">Terms</a>-->
<!--                    <a class="mr-md-3" href="#">Privacy</a>-->
<!--                    <a class="mr-md-3" href="#">Compliances</a>-->
<!--                </p>-->
<!--            </div>-->
        </div>
    </div>
</footer>
